:root {
    --primary-bg-color: #0a0a0a;
    --secondary-bg-color: #1c1c1c;
    --text-color: #ffffff;
    --text-faded-color: rgba(255, 255, 255, 0.8);
    --header-color: #333333;
    
    --dlc-color: #ff0000;
    --max-color: #d8a520;
    --treasure-color: #7fffd4;
}

body {
    background: var(--primary-bg-color);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    margin: 0 auto;
}

table {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid var(--text-color);
    padding: 10px;
    text-align: left;
}

th.column-header {
    background-color: var(--header-color);
    color: var(--primary-bg-color);
}

thead {
    background-color: var(--text-color);
    color: var(--primary-bg-color);
    user-select: none;
}

.dlc, .dlc * {
    background-color: var(--dlc-color);
    color: var(--primary-bg-color);
}

.max, .max * {
    background-color: var(--max-color);
    color: var(--primary-bg-color);
}

.treasure, .treasure * {
    background-color: var(--treasure-color);
    color: var(--primary-bg-color);
}

.centered {
    text-align: center;
}

a, a:hover, a:visited {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

a.redirect-banner {
    background-color: var(--text-color);
    color: var(--primary-bg-color);
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    user-select: none;
}

h1#page-title {
    width: 100%;
    text-align: center;
    user-select: none;
}

*:focus-visible {
    outline: none;
}

@media (max-width: 1023.98px) {
    .desktop-only {
        display: none;
    }

    #app {
        padding: 1rem;
    }

    img.element-icon {
        width: 1.6rem;
    }

    td.column-name {
        padding: 10px;
    }

    td.column-fuse {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .mobile-only {
        display: none;
    }

    #app {
        max-width: 960px;
        padding: 2rem;
    }

    img.element-icon {
        width: 1.8rem;
        height: auto;
        margin: 0 4px;
        padding: 1px;
    }

    th.column-stat, td.column-arcana, td.column-name {
        padding: 10px;
    }

    td.column-fuse {
        padding: 10px;
    }
}

@media (min-width: 1280px) {
    #app {
        max-width: 1024px;
    }

    table {
        padding: 12px;
    }

    img.element-icon {
        width: 2rem;
    }

    a.redirect-banner {
        padding: 12px;
    }

    th.column-stat, td.column-arcana, td.column-name {
        padding: 12px;
    }

    td.column-arcana {
        min-width: 120px;
    }

    td.column-name {
        min-width: 250px;
    }
}
