:root {
    --color-ui-background: rgba(24, 24, 24, 1);
    --color-ui-background-faded: rgba(24, 24, 24, .7);
    --color-ui-text: rgba(205, 205, 205, 1);
    --color-ui-header: rgba(225, 225, 225, 1);
    --color-ui-dlc: rgba(129, 0, 0, 1);
    --color-ui-max: rgba(216, 165, 32, 1);
    --color-ui-treasure: rgba(127, 255, 212, 1);
}

body {
    background: var(--color-ui-background);
    color: var(--color-ui-text);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    place-items: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    margin: 0 auto;
}

table {
    border: 2px solid var(--color-ui-text);
    border-collapse: collapse;
    margin: 2vh auto;
    max-width: 100%;
    min-width: 100%;
    padding: 4px;
}

th, td {
    border: 1px solid var(--color-ui-text);
}

th.column-header {
    background-color: var(--color-ui-header);
}

thead {
    background-color: var(--color-ui-text);
    color: var(--color-ui-background);
    user-select: none;
}

.dlc, .dlc * {
    background-color: var(--color-ui-dlc);
}

.max, .max * {
    background-color: var(--color-ui-max);
    color: var(--color-ui-background);
}

.treasure, .treasure * {
    background-color: var(--color-ui-treasure);
    color: var(--color-ui-background);
}

.centered {
    text-align: center;
}

a, a:hover, a:visited {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

a.redirect-banner {
    background-color: var(--color-ui-text);
    color: var(--color-ui-background);
    cursor: pointer;
    display: inline-block;
    margin: auto;
    min-width: 100%;
    padding: 4px 3px;
    user-select: none;
}

h1#page-title {
    min-width: 100%;
    text-align: center;
    user-select: none;
}

*:focus-visible {
    outline: none;
}

/* Main Component Styles */
.column-stat, .column-affinity {
    display: none;
}

.fuse {
    font-weight: 800;
    font-style: bold;
}

.text {
    margin: 15px;
    font-style: italic;
}

.name {
    color: #160707cc;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.name:hover {
    color: #fff;
    background-color: #ff4500;
}

input#persona-search {
    margin: auto;
    min-width: calc(100% - 8px);
    width: calc(100% - 8px);
    padding: 4px;
}

/* Second Element Styles */
img.inherit-icon {
    margin: auto;
}

td.column-skill-element {
    padding: auto;
}

/* Third Element Styles */
span.skill-block {
    border: 2px solid var(--color-ui-text);
    cursor: pointer;
    margin: 3px 0;
    padding: 4px;
    user-select: none;
}

span.skill-block * {
    cursor: pointer;
}

input.skill-block-remove {
    visibility: hidden;
}

img.element-fusion-link {
    cursor: pointer;
    margin: 0 5px;
    width: 1.2rem;
}

div#skill-search {
    display: inline-flex;
    min-width: 100%;
}

input#skill-search-field {
    flex: auto;
    padding: 2px;
}

input#skill-search-add {
    background-color: var(--color-ui-background);
    border: 2px solid var(--color-ui-text);
    color: var(--color-ui-text);
    font-weight: 700;
    margin: 2px 4px;
    padding: 3px;
}

div#skill-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 2vh 0 0 0;
    max-width: 100%;
    width: auto;
}

.incomplete:not(.max, .treasure) * {
    color: var(--color-ui-text-faded);
}

.incomplete.max *, .incomplete.treasure * {
    color: var(--color-ui-background-faded);
}

.incomplete td.column-cost {
    text-decoration: line-through;
}
